<div class="ekart--header">
    <div id="demo-topheader"></div>
    <div class="ekart-logo">
        <!-- <img src="images/logo.jpeg"> -->
        eKart
    </div>
    <div class="ekart--header--nav">
        <div class="ekart--top--bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <button (click)="loginservice.onlogin('header')">Login</button>
            <h3>{{loginservice.loginCounter}}</h3>
        </div>
        <div class="ekart--bottom--bar">
            <div class="ekart-menu">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <demo-search (onSearch)="onSearchEmit($event)"></demo-search>
        </div>
        <demo-item-list #itemlist [filterItem]="searchItem"></demo-item-list>
        <demo-detailed-view *ngIf="itemlist.selectedProduct != undefined" [viewProduct]="itemlist.selectedProduct"></demo-detailed-view>
    </div>
</div>