<div class="ekart--product--details--info scroll">
    <div class="ekart-product-detail-close" (click)="onClose()">
        <i style="cursor: pointer;">X</i>
    </div>
    <div class="ekart-product-detail-image">
        <img [src]="viewProduct.imageURL" class="ekart-product-detail-image">
    </div>

    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{viewProduct.name}}</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <span>{{viewProduct.gender}}</span>
            <span>{{viewProduct.brand}}</span>
            <span>{{viewProduct.category}}</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price Each Pair:</b>
                <span style="background-color: red; color:white"><s>{{viewProduct.discountPrice}}</s></span>
                <span style="background-color: green; color:white">{{viewProduct.price}}</span> (Inclusive of all taxes)
            </p>
        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Size</h4>
            </div>
            <diV *ngFor="let size of viewProduct.size" style="margin-top: 20px">
                <span class="ekart-product-detail-available-size">{{size}}</span>
            </diV>
        </div>

        <div class="ekart-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
        <diV *ngFor="let color of viewProduct.color" style="margin-top: 20px;">
            <span class="ekart-product-detail-available-color" [ngStyle]="{'background-color': color}"></span>
        </diV>

        </div>

        <div class="ekart-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>{{viewProduct.description}}</p>
            </div>
        </div>
    </div>
    <div class="ekart-product-detail-addtoCart">
        <ng-container *ngIf="viewProduct.is_in_inventory; else notifyme">    
            <button>Add to cart</button>
        </ng-container>
        <ng-template #notifyme><button class="btn-add-to-cart">Notify ME</button></ng-template>
        <ng-template #aleady><button class="btn-add-to-cart">already prsent</button></ng-template>
        <ng-template #submit><button class="btn-add-to-cart">Submit order</button></ng-template>
        <ng-template #save><button class="btn-add-to-cart">Save the orer ME</button></ng-template>

    </div>
</div>
<div class="overlay"></div>