

<div id="login" *ngIf="isLogin">
  <h1>Login page</h1>
  <div>
    <label for="username">username</label>
    <input type="text" id="username" [(ngModel)]="logininput.username" />
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" id="password" [(ngModel)]="logininput.password" />
  </div>
  <div>
    <button (click)="onSubmit('login')">Submit</button>
  </div>
<button [ngClass]="isSubmited?'beforeSubmit':'afterSubmit'" (click)="isLogin = false">CLick for sign in page</button>
</div>

<div id="sign" *ngIf="!isLogin">
  <h1>Signin page</h1>
  <div>
    <label for="username">username</label>
    <input type="text" id="username" [(ngModel)]="signininput.username" />
  </div>
  <div>
    <label for="mobilenum">Mobile number</label>
    <input type="text" id="username" [(ngModel)]="signininput.mobilenumber" />
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" id="password" [(ngModel)]="signininput.password" />
  </div>
  <div>
    <label for="confirmpassword">Confirm password</label>
    <input type="text" id="username" [(ngModel)]="signininput.confirmPassword" />
  </div>
  <div>
    <button (click)="onSubmit('signin')">Submit</button>
  </div>
  <button [ngStyle]="{'color': signininput.btncolor}" (click)="isLogin = true">CLick for login in page</button>

</div>
<div *ngFor="let name of listofusers; index as i">
  <li *ngIf="'i = 0'">{{name}}</li>
</div>