<demo-filter [filtervalue]="Inputvalue" [allcount]="allproducts" [availbleproducts]="availbleCount" [unavailbleproducts]="unavailableCount" (filterChange)="productFilter($event)"></demo-filter>

<button (click)="subscribeProduct()">GET PRODUCT</button>

<div style="display: flex;
    flex-wrap: wrap;">
<!-- *ngIf="productItem.is_in_inventory.toString() ===   || Inputvalue === 'all'" -->
<ng-container *ngFor="let productItem of subscribedProductList">
    <demo-item  (click)="selectedProduct = productItem" *ngIf="productItem.name.toLowerCase().includes(filterItem)"  [item]="productItem"><h3 class="brand">Brand::{{productItem.brand}}</h3>
    <h5 class="cat">Category::{{productItem.category}}</h5></demo-item>
</ng-container>
</div>